OnlineAuctionSystem(OAS)-ejb/src/conf/wsdl/localhost_8080/AISG/AISG.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="AISG">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/AISG/AISG?xsd=1"/>
</xsd:schema>
</types>
<message name="Premium Registration">
<part name="parameters" element="tns:Premium Registration"/>
</message>
<message name="Premium RegistrationResponse">
<part name="parameters" element="tns:Premium RegistrationResponse"/>
</message>
<message name="CustomerExistException">
<part name="fault" element="tns:CustomerExistException"/>
</message>
<message name="GeneralException">
<part name="fault" element="tns:GeneralException"/>
</message>
<message name="Remote View Credit Balance">
<part name="parameters" element="tns:Remote View Credit Balance"/>
</message>
<message name="Remote View Credit BalanceResponse">
<part name="parameters" element="tns:Remote View Credit BalanceResponse"/>
</message>
<message name="Remote Login">
<part name="parameters" element="tns:Remote Login"/>
</message>
<message name="Remote LoginResponse">
<part name="parameters" element="tns:Remote LoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="Remote Browse All Auctions">
<part name="parameters" element="tns:Remote Browse All Auctions"/>
</message>
<message name="Remote Browse All AuctionsResponse">
<part name="parameters" element="tns:Remote Browse All AuctionsResponse"/>
</message>
<message name="Remote View Auction Listing Details">
<part name="parameters" element="tns:Remote View Auction Listing Details"/>
</message>
<message name="Remote View Auction Listing DetailsResponse">
<part name="parameters" element="tns:Remote View Auction Listing DetailsResponse"/>
</message>
<message name="AuctionListingNotFoundException">
<part name="fault" element="tns:AuctionListingNotFoundException"/>
</message>
<message name="Remote View Won Auction Listings">
<part name="parameters" element="tns:Remote View Won Auction Listings"/>
</message>
<message name="Remote View Won Auction ListingsResponse">
<part name="parameters" element="tns:Remote View Won Auction ListingsResponse"/>
</message>
<portType name="AISG">
<operation name="Premium Registration">
<input wsam:Action="http://ws.session.ejb/AISG/Premium RegistrationRequest" message="tns:Premium Registration"/>
<output wsam:Action="http://ws.session.ejb/AISG/Premium RegistrationResponse" message="tns:Premium RegistrationResponse"/>
<fault message="tns:CustomerExistException" name="CustomerExistException" wsam:Action="http://ws.session.ejb/AISG/Premium Registration/Fault/CustomerExistException"/>
<fault message="tns:GeneralException" name="GeneralException" wsam:Action="http://ws.session.ejb/AISG/Premium Registration/Fault/GeneralException"/>
</operation>
<operation name="Remote View Credit Balance">
<input wsam:Action="http://ws.session.ejb/AISG/Remote View Credit BalanceRequest" message="tns:Remote View Credit Balance"/>
<output wsam:Action="http://ws.session.ejb/AISG/Remote View Credit BalanceResponse" message="tns:Remote View Credit BalanceResponse"/>
</operation>
<operation name="Remote Login">
<input wsam:Action="http://ws.session.ejb/AISG/Remote LoginRequest" message="tns:Remote Login"/>
<output wsam:Action="http://ws.session.ejb/AISG/Remote LoginResponse" message="tns:Remote LoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/AISG/Remote Login/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="Remote Browse All Auctions">
<input wsam:Action="http://ws.session.ejb/AISG/Remote Browse All AuctionsRequest" message="tns:Remote Browse All Auctions"/>
<output wsam:Action="http://ws.session.ejb/AISG/Remote Browse All AuctionsResponse" message="tns:Remote Browse All AuctionsResponse"/>
</operation>
<operation name="Remote View Auction Listing Details">
<input wsam:Action="http://ws.session.ejb/AISG/Remote View Auction Listing DetailsRequest" message="tns:Remote View Auction Listing Details"/>
<output wsam:Action="http://ws.session.ejb/AISG/Remote View Auction Listing DetailsResponse" message="tns:Remote View Auction Listing DetailsResponse"/>
<fault message="tns:AuctionListingNotFoundException" name="AuctionListingNotFoundException" wsam:Action="http://ws.session.ejb/AISG/Remote View Auction Listing Details/Fault/AuctionListingNotFoundException"/>
</operation>
<operation name="Remote View Won Auction Listings">
<input wsam:Action="http://ws.session.ejb/AISG/Remote View Won Auction ListingsRequest" message="tns:Remote View Won Auction Listings"/>
<output wsam:Action="http://ws.session.ejb/AISG/Remote View Won Auction ListingsResponse" message="tns:Remote View Won Auction ListingsResponse"/>
</operation>
</portType>
<binding name="AISGPortBinding" type="tns:AISG">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Premium Registration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerExistException">
<soap:fault name="CustomerExistException" use="literal"/>
</fault>
<fault name="GeneralException">
<soap:fault name="GeneralException" use="literal"/>
</fault>
</operation>
<operation name="Remote View Credit Balance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Remote Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="Remote Browse All Auctions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Remote View Auction Listing Details">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuctionListingNotFoundException">
<soap:fault name="AuctionListingNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="Remote View Won Auction Listings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AISG">
<port name="AISGPort" binding="tns:AISGPortBinding">
<soap:address location="http://localhost:8080/AISG/AISG"/>
</port>
</service>
</definitions>